body {
    font-family: Helvetica;
}

.hidden {
    display: none !important;
}

.hidden > div {
    display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #555555;
  padding: 0.8%;
}

.grid-item {
    background-color: #ffffc0;
    border: 1vw solid #555555;
    padding: 13%;
    font-size: 6.5vw;
    text-align: center;
    /* make text unselectable */
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red {
    background-color: #ffc0c0;
}

.green {
    background-color: #c0ffc0;
}

.blue {
    background-color: #abcdff;
}

.hover {
    border: 1vw solid #aaaaaa;
}

.selected {
    border: 1vw solid #ffff00;
}

.setHand {
    font-size: 3.6vw;
    background-color: #ffffff;
}

.handSet {
    font-size: 3.6vw;
    background-color: #000000;
    color: #ffffff;
}

.nextHand {
    font-size: 3.6vw;
    background-color: #80ffff;
    color: #000000
}

.heart {
    color: #ff0000;
}

.club {
    color: #00cc00;
}

.diamond {
    color: #0000ff;
}

.spade {
    color: #000000;
}

.check {
    padding: 8.6%;
}

.points {
    font-size: 3vw;
    padding: 27% 13%;
}

/*body{
    font-family: 'Nunito';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#mario-chat{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
*/
